@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
/* Hamburger Menu */
.hamburger-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 3px;
  background: #2563EC;
  transform: rotate(0);
  transition: all 0.5s;
}
 
.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
  opacity: 1;
}
}

body {
  background-image: url("../assets/images/home/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% 150%;
}

@media screen and (max-width: 768px) {
  body {
    background-size: 300px;
    background-position: 80% 0%;
  }
}